@font-face {
    font-family: "odin";
    src: url(./fonts/Norse-Bold.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo{
    flex: 1;
    display: flex;
    background: #ffffff url("./images/background.jpg") round;
}

.logoContainer{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    position: relative;
    top:25%;
    justify-content: center;
}

.logoMain{
    display: flex;
    width: 50%;
}

.logoImage{
    flex:1;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.logoText{
    flex:1.5;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'odin';
    color: #ffffff;
    font-size: 5em;
}

.form{
    flex: 2.5;
    display: flex;
    flex-direction: column; 
    background-color: rgba(200, 200, 200, 0.1);
}

.textContainer{
    width: 100%;
    height: 25%;
}

.text{
    padding: 50px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.formContainer{
    height: 40%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.button{
    padding-top: 2rem;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}

button{
    background-color: #596D48;
    color: white;
    font-weight: bold;
    height: 3rem;
    width: 20%;
    border-radius: 0.5rem;
    border: none;
}

.loginText{
    padding-left: 50px;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
}